/* Color Pallette
midnight-blue: #1A3C64;
dark-slate-blue: #366087;
light-grey: #DBD4CD;
light-slate-grey: #91A6BC;
dim-grey: #565043;
*/

body {
  background-color: #91A6BC;
  font-family: 'Roboto', sans-serif;
}

#main {
  margin: 0 auto;
  text-align: center;
  width: 80%;
  max-width: 1000px;
  background-color: #DBD4CD;
  box-shadow: 5px 2.5px 5px #565043;
}

#title {
  padding-top: 26.8px;
  font-size: 40px;
  color: #1A3C64;
}

#subtitle {
  font-size: 30px;
  color: #1A3C64;
}

#img-div {
  margin: 0 auto;
  width: 90%;
  max-width: 800px;
}

#image {
  box-shadow: 5px 2.5px 5px #565043;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  display: block;
}

#img-caption {
  font-size: 14px;
}

p {
  font-size: 18px;
  color: #565043;
}

#tribute-info {
  margin-bottom: 50px;
}

#learn-more {
  /*padding-bottom: 10px;*/
}

#tribute-link {
  color: #1A3C64;
  text-decoration: none;
  font-weight: bold;
}

#tribute-link:hover {
  text-decoration: underline;
}


@media (max-width: 700px) {
  #title {
    font-size: 30px;
  }
  #subtitle {
    font-size: 20px;
  }
  #img-caption {
    font-size: 12px;
  }
  p {
    font-size: 14px;
  }
}
